{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="{% static 'css/inputs.css' %}">
    <style>
        body {
            background: url('{% static 'images/13.jpg' %}');
            background-size: 100% 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            align-items: center;
        }

        .errors {
            color: red;
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <center>
        <div class="navbar">
            <a href="{% url 'Home_page' %}">Home</a>
            <a href="Services.html">Services</a>
            <a href="Blog.html">Blog</a>
            <a href=".html">About us</a>
            <a href="FAQ.html">FAQ</a>
        </div>
    </center>
    <div class="login-box">
        <div class="form-container">
            <form method="POST" class="form-input">
                {% csrf_token %}
                <p class="header">Create an account</p>
                <b>
                    <label for="id_name" style="margin-right:5px; ">Name:</label>
                    {{ form.name }}<br><br>

                    <label for="id_username" style="margin-right:5px;">Username:</label>
                    {{ form.username }}<br><br>

                    <label for="id_email" style="margin-right:37px;">Email:</label>
                    {{ form.email}} <br><br>

                    <label for="id_password1" style="margin-right:7px;">Password:</label>
                    {{ form.password1 }}<br><br>

                    <label for="id_password2" style="margin-right:5px;">Confirm Password:</label>
                    {{ form.password2 }}<br><br>

                    <fieldset>
                        <legend>Account Type:</legend>
                        <input type="radio" id="Choice1" name="accType" value="Admin" />
                        <label for="Choice1" style="margin-right:25px;">Admin</label>
                
                        <input type="radio" id="Choice2" name="accType" value="User" />
                        <label for="Choice2">User</label>
                    </fieldset>
                    <br>

                    <center>
                        <button type="submit" id="signup" style="font-size: 20px;width: 350px;margin-left:60px; background-color:rgba(103, 146, 81, 0.197);">Sign Up</button>
                        <br><br>
                        <a href="{% url 'Login' %}" style="font-size:15px; color: #000000; padding-left:20px"> Have an account?</a>
                    </center>
                </b>
                {% if form.errors %}
                <div class="errors">
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
    <br><br><br>
</body>

</html>
